In [ ]:
#Functions

def my_life():
  print("Full of hard work")
  print("Full of suprise")
  print("Full of Failures")

In [ ]:
my_life()

Full of hard work
Full of suprise
Full of Failures

def function_name(arguments):

In [ ]:
def make_tea():
  print("Make hot tea")

In [ ]:
make_tea()

Make hot tea

In [ ]:
for i in range(5):
  make_tea()

Make hot tea
Make hot tea
Make hot tea
Make hot tea
Make hot tea

In [ ]:
name = input()

print("knock knock knock", name)

Deepak
knock knock knock Deepak

In [ ]:
def sheldon_knock(name):
  print("knock knock knock",name)

In [ ]:
name = input()

sheldon_knock(name)

Deepak
knock knock knock Deepak

In [ ]:
def wishing_function(name):
  print("Hello", name)

In [ ]:
name = input()

wishing_function(name)

Deepak
Hello Deepak

In [ ]:
def car_specs(colour, brand, price):
  print("colour is :", colour)
  print("brand is :", brand)
  print("price is :", price)

In [ ]:
colour = input()
brand = input()
price = input()

car_specs(colour, brand, price)

red
maruti
5 lakh
colour is : red
brand is : maruti
price is : 5 lakh

In [ ]:
car_specs("blue", "maruti", 1000000)

colour is : blue
brand is : maruti
price is : 1000000

In [ ]:
help(car_specs)

Help on function car_specs in module __main__:

car_specs(colour, brand, price)

In [ ]:
def add(a,b):
  res = a+b
  print(res)

In [ ]:
add(10,20)

30

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
def accept_money(amount):
  print(2*amount)

In [ ]:
accept_money(2000)

4000

In [ ]:
wallet = accept_money(2000)

4000

In [ ]:
print(wallet)

None

In [ ]:
def value(a):
  print(a)
  return(a)

  print(2*a)

In [ ]:
def make_coffee(base):
  print("milk")
  return("milk")

  print("milk")

In [ ]:
make_coffee("water")

milk

'milk'

In [ ]:
def python(a):
  print(a)

In [ ]:
python(10)

10

In [ ]:
def train(a):
  return(10)

In [ ]:
train(20)

10

when we print after using return, we don't have to pass any input, it is returning the function value but for print inside function we need to pass value every time and value is not assigned to function

In [ ]:
def training(a):
  print("before return function")
  return(1200)
  print("after return function")

In [ ]:
training(1800)

before return function

1200

In [ ]:
type(1000)

int

In [ ]:
max(1,2,3,5)

5

In [ ]:
def birthday_date(date):
  print("Happy Birthday")

  return birthday_date

date = int(input())

birthday_date(date)

23
Happy Birthday

In [ ]:
def value(a):
  
  a = 2*a

  return(a)

a = int(input())

value(a)

12

24

In [ ]:
def value(a):

  n = 0

  n = n*2

  n = int(input())

  return(a)

In [ ]:
def simple_int(time,pa,ir):
    ''' time, pa, ir represents the time in number of days, principal amount and rate of interest
        Return the simple interest'''
    ans = 0
    ans = (time*pa*ir)/100
    time = int(input())
    pa = int(input())
    ir = int(input())
     
    
    simple_int(time,pa,ir)
    
    return round(ans,2)

In [ ]:
n = int(input())

for i in range(n):
  for j in range(n):
    print(max((j+1), (i+1),(n-j), (n-i)), end = " ")
  print()

5
5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [ ]:
def car_spec(colour, brand, price):
  print("colour is :", colour)
  print("brand is :", brand)
  print("price is :", price)

car_spec(colour = "Red", price = 2000, brand = "Tata")

colour is : Red
brand is : Tata
price is : 2000

In [ ]:
def random (a=1,b=2,c=3,4):

SyntaxError: ignored

In [ ]:
n = int(input())

for i in range(n):
  for j in range(n-i):
    if i == n:
      print("*", end = " ")
    else:
      print("", end = " ")
  print()

5

In [ ]:
def simple_int(p, t=3, r=3):
  print(p,r,t)

In [ ]:
simple_int(2,4,6)

2 6 4

In [ ]:
simple_int(2)

2 3 3

In [ ]:
def date(d,m,y,s=0):
  if s == 0:
    print(d,"/",m,"/",y)
  elif s == 1:
    print(m,"/",d,"/",y)
  else:
    print("invalid style")

In [ ]:
date(d=23,m=10,y=1992,s=1)

10 / 23 / 1992

In [ ]:
date(23,10,1992,0)

23 / 10 / 1992

In [ ]:
a = 5

def