In [2]:
l = [2,4,5]

for i in l:
  l[i] == i*i
  print(l)

[2, 4, 5]

IndexError: ignored

In [4]:
for i in l:
  print(i*i, end = " ")

4 16 25

In [5]:
b = []
for i in l:
  b.append(i*i)

b

[4, 16, 25]

In [8]:
c = []
for i in l:
  c.insert(2,i**3)#in insert we have give two functions(index value, list value)
c

[8, 64, 125]

In [9]:
n = int(input())
l = input()

5
2 3 4 5 6

In [14]:
n = int(input())
l = input().split()

3
2 3 4

In [15]:
lst = l.split()
lst

AttributeError: ignored

In [13]:
lst = l.split()

AttributeError: ignored

In [16]:
n = int(input())
l = input()

2
2 4

In [17]:
lst = l.split()
lst

['2', '4']

In [18]:
lst1 = []

for i in lst:
  lst1.append(int(i))

lst1

[2, 4]

In [20]:
# code to take list as input from user

A = int(input())

b = input()

temp = b.split() # converting each value in b into separte str

final = []# converting str value in temp into interger
for i in temp:
  final.append(int(i))

final

3
1 3 5

[1, 3, 5]

In [24]:
A = int(input())

b = input()

l = b.split()

lst = []

for i in l:
  lst.append(int(i))

2
2 4

In [25]:
print(lst)

[2, 4]

In [26]:
final = []
for i in lst:
  final.append(i**3)
final

[8, 64]

In [27]:
# updating the list

l = [1,2,3,4,5]

l[2] = 98

l

[1, 2, 98, 4, 5]

In [28]:
a = [1,2,3,4,5]

a[2] = a[4]

a

[1, 2, 5, 4, 5]

In [29]:
a = [3,6,7]
a[1] = a[2]
a[2] = a[0]

a

[3, 7, 3]

In [30]:
# swapping problem

a = 1
b = 2

c = a
a = b
b = c

print(a,b)

2 1

In [31]:
# another method

a, b = b, a

print(a,b)

1 2

In [32]:
a = [2,4,6,8,10]

a[2], a[4] = a[4], a[2]

a

[2, 4, 10, 8, 6]

In [33]:
a[1], a[3] = a[3], a[1]

a

[2, 8, 10, 4, 6]

In [38]:
a = [2,4,6,8]

a[0],a[1],a[2],a[3] = a[3],a[2],a[1],a[0]

a

[8, 6, 4, 2]

In [41]:
l = [1,5,2,3]

c = l

l.append(7)
print(l)

l.insert(0,5)
print(l)

l[1] = l[2]
print(l)

l[2], l[0] = l[0], l[2]
print(l)

[1, 5, 2, 3, 7]
[5, 1, 5, 2, 3, 7]
[5, 5, 5, 2, 3, 7]
[5, 5, 5, 2, 3, 7]

In [42]:
b = [1,2,3,4]

b.insert(0,4)
b

[4, 1, 2, 3, 4]

In [43]:
b.insert(1,5)

b

[4, 5, 1, 2, 3, 4]

In [44]:
x = b.pop()# pop function removes the last element and return the removed element or we can give a i value like pop(i)

x

4

In [45]:
b

[4, 5, 1, 2, 3]

In [47]:
x = b.pop(b[2])

b

[4, 1, 2, 3]

In [48]:
a = [1,2,3]

c = a.pop(1)

a

[1, 3]

In [49]:
# pop function works on index
# remove function works on element

a = [1,2,3,4]

a.remove(2)

a

[1, 3, 4]

In [64]:
a = [1,2,3,4,5,6,2,3]

x = 0

def linear_search(x):
  for i in a:
    if a[i] == x:
      return(x)
  return False

In [65]:
linear_search(11)

False