In [ ]:
N = int(input())

for i in range(N):
    for j in range(N,0,-1):
        print("*", end = "")

    print()

5
*****
*****
*****
*****
*****

In [ ]:
N = int(input())

for i in range(N):
  for k in range(i+1):
    print("*", end = "")
  for l in range(N-i-1):
    print(" ", end = "")
  for j in range(N-i):
    print("*", end = "")
  for l in range(N-i-1):
    print(" ", end = "")

  print()

5
*    *****
**   ****
***  ***
**** **
******

In [ ]:
N = int(input())

for i in range(N):
    for j in range(N-i):
      print("*", end = "")
    for k in range(i):
      print(" ", end = "")
    for k in range(i):
      print(" ", end = "")
    for j in range(N-i):
      print("*", end = "")

    print()

5
**********
****  ****
***    ***
**      **
*        *

In [ ]:
N = int(input())

for i in range(1, N+1):
    for j in range(N-i+1):
        print('*', end='')
        
        
    for j in range(2*(i-1)):
        print(' ', end='')
        
        
    for j in range(N-i+1):
        print('*', end='')
        
    print()

5
**********
****  ****
***    ***
**      **
*        *

In [ ]:
n = int(input())

for i in range(n):
  for j in range(i):
    print("*", end = "")
  for k in range(i,n):
    print("*", end = "")
  print()

5
*****
*****
*****
*****
*****

In [ ]:
n = int(input())

for i in range(n):
  for j in range(i+1):
    print("*", end = "")
  for k in range(n-i-1):
    print("*", end = "")
  print()

5
*****
*****
*****
*****
*****

In [ ]:
N = int(input())

for i in range(N):
    for j in range(i+1):
      print("*", end = "")
    for k in range(N-i-1):
      print(" ", end = "")
    for k in range(N-i-1):
      print(" ", end = "")
    for j in range(i+1):
      print("*", end = "")

    print()

5
*        *
**      **
***    ***
****  ****
**********

In [ ]:
N = int(input())

for i in range(1, N):
  for j in range(1,i+1):
    print("*", end = "")
  print()
for i in range(N,0,-1):
  for j in range(1,i+1):
      print("*", end = "")
  print()

5
*
**
***
****
*****
****
***
**
*

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N):
    if i == 0 or j == 0 or i+j == N-1:
      print("*", end = "")
    else:
      print("#", end = "")
  print()

6
******
*###*#
*##*##
*#*###
**####
*#####

In [ ]:
N = int(input())

for i in range(N):
    for j in range(N-i):
        if j == 0 or i == 0 or i+j == (N-1):
            print("*", end = "")
        else:
            print("-", end = "")
    print()

5
*****
*--*
*-*
**
*

In [ ]:
N = int(input())

for i in range(N):
    for j in range(N):
        if j == 0 or i == 0 or i+j == (N-1):
            print("*", end = "")
        else:
            print("-", end = "")
    print()

5
*****
*--*-
*-*--
**---
*----

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N):
    print(" ", end = "")
  for k in range(N-i-1):
    print("*", end = " ")
  print()

5
     * * * *
     * * *
     * *
     *

In [ ]:
N = int(input())

for i in range(N,0,-1):
  for j in range(N-i):
    print(" ", end = "")
  for k in range(i):
    print("*", end = " ")
  print()

5
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
N = int(input())

for i in range(1,N+1):
  for j in range(1,N-i+1):
    print(0, end = "")
  print()

5
0000
000
00
0

In [ ]:
N = int(input())

for i in range(1,N+1):
  for j in range(1,N-i+1):
    print(0, end = "")
  for k in range(1,N):
    print(k, end = "")
  for l in range(2,i+1):
    print(l, end = "")
  print()

5
00001234
00012342
00123423
01234234
12342345

In [ ]:
N = int(input())

for i in range(1,N+1):
  for j in range(1,N-i+1):
    print(0, end = "")
  for k in range(0,i+1):
    print(k, end = "")
  print()

5
000001
000012
000123
001234
012345