In [ ]:
#print all  numbers 1 to 5 using while loop

i = 0

while i <= 5:
  print(i)

  i += 1

0
1
2
3
4
5

In [ ]:
#print all  numbers 1 to 5 using for loop

for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [ ]:
#to get the count of iterations

i = 0

count = 0

while i <= 20:
  if i % 2 == 0:
    print(i)
    i += 1
    count += 1

print(count)

0

KeyboardInterrupt: ignored

In [ ]:
n = int(input())

i = 1
while i <= n:
  print(i, end = " ")

  i += 1

10
1 2 3 4 5 6 7 8 9 10

In [ ]:
n = int(input())

count = 0
i = 1
while i <= n:
  print(i, end = " ")
  count += 1
  
  i += 2 
print(count)

5
1 3 5 3

In [ ]:
n = int(input())

m = int(input())

while n <= i <= m:
  print(i)

  i += 3

1
20
13
16
19

In [ ]:
n = int(input())

m = int(input())

i = n

while i <= m:
  print(i)

  i+= 3

1
10
1
4
7
10

In [ ]:
n = int(input())

m = int(input())

i = n
while i <= m:
  if i % 2 == 0:
    print(i)

    i += 1

1
10

KeyboardInterrupt: ignored

In [ ]:
n = int(input())

i = 1

while i <= 10:
  print(i * n)

  i += 1

2
2
4
6
8
10
12
14
16
18
20

In [ ]:
n = int(input()) #testcase problem #nested loop

i = 1
while i <= n:
  print("Test case :",i)
  i += 1
  m = int(input())

  j = 1
  while j <=  10:
    print(j * m)

    j += 1

2
Test case : 1
2
2
4
6
8
10
12
14
16
18
20
Test case : 2
3
3
6
9
12
15
18
21
24
27
30

In [ ]:
n = int(input())

i = 1

while i <= n:
  if i % 2 == 0:
    print(i)

    i += 1

10

KeyboardInterrupt: ignored

In [ ]:
# print all the perfect squares

N = int(input())

i = 1

while i * i <= N:
  print(i*i, end = " ")

  i += 1

10
1 4 9

In [ ]:
#how to find the power of a value

A = int(input())

B = int(input())

print(A ** B, end = " ")

2
4
16

In [ ]:
#For a given number A, print its multiplication table having the first 10 multiples.

A = int(input())

i = 1

while i <= 10:
  print(i, "*", A, "=", A*i)

  i += 1

10
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

In [ ]:
#Mr. Q has a diary in which he has written a lot of numbers. He is confused about the number of digits in every number he has written. 
#Mr. Q will provide the different numbers written in the diary and then you have to write a code to find the number of digits in every number he has written.

#Note: Total different Numbers are T and for every number (let's say N) you need to find the total number of digits.

T = int(input())# total different number

i = 1

while T > 0:
  T -= 1 #no of digits must decrease
  N = int(input())# number to which we have identify the no of digits
  count = 0
  j = 1

  if N == 0:
    count =1
  while N > 0:
    count += 1
    N = N//10

    
  print(count)

3
10002
5
123
3
12
2

In [ ]:
T = int(input())# total different number

i = 1

while T > 0:
  T -= 1 #no of digits must decrease
  N = int(input())# number to which we have identify the no of digits
  sum = 0

  while N > 0:
    sum += N % 10
    N = N//10

    
  print(sum)

2
1432
10
234
9

Range formula

[a,b] = b-a+1(all the elements are included)
(a,b) = b-a-1(a and b element is not included)
[a,b) = b-a(only a is included and b is excluded)(mostly used in python for range and list)

In [ ]:
range(0,5)

range(0, 5)

In [ ]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [ ]:
len(list(range(0,5)))

5

In [ ]:
list(range(5,5))

[]

In [ ]:
list(range(5,1,-1))

[5, 4, 3, 2]

In [ ]:
# list only take intergers(both - & +)

list(range(-1,5))

[-1, 0, 1, 2, 3, 4]

In [ ]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
list(range(-9,-1,2))

[-9, -7, -5, -3]

In [ ]:
list(range(-1,-9,-1))

[-1, -2, -3, -4, -5, -6, -7, -8]

In [ ]:
list(range(-1,-9,1))

[]

In [ ]:
list(range(5,-10,-2))

[5, 3, 1, -1, -3, -5, -7, -9]

In [ ]:
N = int(input())

for i in range(1,N+1):
  print(i)

10
1
2
3
4
5
6
7
8
9
10

In [ ]:
#calucluate the sum

n = int(input())
sum = 0
for i in range(1,n+1):
  sum = sum + i
  
print(sum)

4
10

In [ ]:
#print all the numbers N to 1

N = int(input())

for i in range(N,0,-1):
  print(i, end = " ")

10
10 9 8 7 6 5 4 3 2 1

In a range if you want to index from left to right it is postive jump, if right to left it is negetive jump

In [ ]:
A = int(input())


for i in range(1, A):
    if (A % i != 0):
        print("YES")
    else:
        print("NO")
    
    break

3
NO

In [ ]:
# to tell it is a perfect number

N = int(input())

i = 0

while N > 0:
  A = int(input())
  sum = 0
  for i in range(0,A):
    sum = sum + i
    i += 1

  if sum == N:
    print("perfect number")
  else:
    print("Inperfect number")

  N -=1

2
34
Inperfect number
35
Inperfect number

In [ ]:
#Write a program that accepts T numbers(N) from the user and find reverse of the given number(N).

T = int(input())

for i in range(T):
  N = int(input())
  rev_num = 0
  rem = 0
  while i < N:
    rem = N % 10
    rev_num = (rev_num*10)+rem
    N = N//10
  print(rev_num)

2
1001
1001
2356
6532

In [ ]:
24%10

4

In [ ]:
10%2

0

In [ ]:
2%3

2

In [ ]:
#Given an integer A as input, determine whether it is palindromic or not.

T = int(input())

for i in range(T):
  N = int(input())
  rev_num = 0
  rem = 0
  while rem > 0:
    rem = N % 10
    rev_num = (rev_num*10)+rem
    rem = N//10
  

  if rev_num == N:
    print("Yes")
  else:
    print("No")

1
1001
No

In [ ]:
for i in range(1,17,3):
  print(i, end = " ")

1 4 7 10 13 16

In [ ]:
for i in range(1,44):
  if i == 43:
    print(i *2, end = "")
  else:
    print(i*2, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86

In [ ]:
number = 1
i = 1

while i < 44:
  if i == 43:
    print(i, end = "")
  else:
    print(i, end = " ")

  i = i + 2*number
  number += 1

1 3 7 13 21 31 43

In [ ]:
if True:
  pass

In [ ]:
if True:
  print("This has to be passed")
  pass
  print("The statement is passed")

This has to be passed
The statement is passed

In [ ]:
#pass dosnt have any major function and Continue skips the current running loop

for i in range(5):
  if i == 4:
    continue

  print(i, end = " ")

0 1 2 3

In [ ]:
for i in range(5):
  if i == 4:
    break

  print(i, end = " ")

0 1 2 3

In [ ]:
A = int(input())
for i in range(A):
  N = int(input())
  if i == 5:
    break

  print(i)

10
2
0
3
1
4
2
5
3
6
4
7

In [ ]:
i = 0
while True:
  N = int(input())
  if N == 5:
    break

  print(N)

1
1
2
2
3
3
4
4
5

In [ ]:
#nested loop

for i in range(3):
  for j in range(4):
    print(i,j, end = " ")

0 0 0 1 0 2 0 3 1 0 1 1 1 2 1 3 2 0 2 1 2 2 2 3

In [ ]:
n = int(input())

for i in range(n):
  for j in range(n):
    print("*", end = " ")
  print()

4
* * * *
* * * *
* * * *
* * * *

In [ ]:
#GCD < min(A,B) and LCM > max(A,B)

A = int(input())

B = int(input())

GCD = 0
GCD <= min(A,B)

10
20

True

In [ ]:
#GCD calculation

A = int(input())

B = int(input())

x = min(A,B)

for i in range(x,0,-1):
  if A%x == 0 and B%x == 0:
    
    print(i)

    break

    i += 1

16
2
2

In [ ]:
# LCD calculation

A = int(input())
B = int(input())

x = max(A,B)

while True:
  if x % A == 0 and x % B == 0:
    print(x)

    break
    x += 1

2
4
4

In [ ]:
#Given an integer N as input, print the corresponding Numeric Inverted Half Pyramid pattern for N.

N = int(input())

for i in range(N,0,-1):
  for j in range(1,i+1):
    if i == j:
      print(i, end = " ")
    else:
      print(j, end = "")
    
  print()

5
12345
1234
123
12
1

In [ ]:
N = int(input())

for i in range(N,0,-1):
  for j in range(1,i+1):
    print(j, end = " ")
  print()

5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
N = int(input())

for i in range(N+1):
  for j in range(2):
    print("*", end = "  ")
  print()

4
*  *
*  *
*  *
*  *
*  *

In [ ]:
N = int(input())

for i in range(1, N+1):
    print("*" , end = "")
    print(" " * (N - 2), end = "")
    print("*" , end = "")
    print()

4
*  *
*  *
*  *
*  *

In [ ]:
N = int(input())

for i in range(N):# no of rows 
  for j in range(1,i+2):# pattern to print the value in the row
    if j % 2 == 0:
      print(j, end = "")
    else:
      print("*", end = "")
  
  print()

7
*
*2
*2*
*2*4
*2*4*
*2*4*6
*2*4*6*

In [ ]:
N = int(input())

for i in range(N):# no of rows 
  for j in range(1,i+2):# pattern to print the value in the row
    if j % 2 == 0:
      print("_", end = "")
    else:
      print("*", end = "")
  
  print()

7
*
*_
*_*
*_*_
*_*_*
*_*_*_
*_*_*_*

In [ ]:
N = int(input())# reverse loop concept

for i in range(N,0,-1):
  for j in range(i):
    print("*", end = "")
  print()

5
*****
****
***
**
*

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N-i):
    print("*", end = "")
  print()

5
*****
****
***
**
*

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N-i-1):
    print("_", end = "")
  for k in range(i+1):
    print("*", end = "")
  print()

5
____*
___**
__***
_****
*****

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N):
    if i == 0 or i == N-1 or j == 0 or j == N-1:
      print("*", end = "")
    else:
      print(" ", end = "")
  print()

5
*****
**
**
**
*****

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N):
    if i == 0 or i == N-1 or j == 0 or j == N-1:
      print(N, end = "")
    else:
      print(" ", end = "")
  print()

4
****
*  *
*  *
****

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N):
    if i == 0 or i == N-1 or j == 0 or j == N-1:
      print(N, end = "")
    if i == i+1 or i == N or j == j+1 or j == N:
      print((N-1), end = "")
  print()

5
55555
55
55
55
55555

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N):
    if i == 0 or i == N-1 or j == 0 or j == N-1:
      print(N, end = "")
    if i == i+1 or i == N or j == j+1 or j == N:
      print((N-1), end = "")
  print()

5
55555
55
55
55
55555

In [ ]:
def func(A=1, B =1):
  count = 0
  while A > 1:
    A = A//B
    count += 1
  return count

In [ ]:
def df(M):
  n = len(M)
  m = len(M[0])

  var_1 = M[0][0]

  for i in range(n):
    num = -1
    for j in range(m):
      if M[i][j] > num:
        num = M[i][j]
    if num > var_1:
      var_1 = num
  return var_1

In [ ]:
df([ [1,2,3,4], [4,5,6,7] ])

7

In [ ]:
A = [1,2,3]
B = [1,2,3]

N = len(B)
ds = 0

for i in range(N):
  ds = ds + (A[i]*B[i])
print(ds)

14

In [ ]:
def f1():
  print("A")
  f2()

def f2():
  print("B")
  f3()

def f3():
  print("C")

f1()

A
B
C

In [ ]:
def f(L):
  for i in range(1, len(L)):
    if L[i-1] != L[i]:
      return False
  return True

In [ ]:
f([2,2])

True

In [ ]:
def f(L):
  return L.count(L[0]) == len(L)

In [ ]:
f([1,1])

True

In [ ]:
def f(L):
  N = len(L)
  i = 0
  while i < N:
    if L[i] == L[i+1]:
      return True
  return False

In [ ]:
f([1,1,3])

True

In [ ]:
def func(A, B):
  count = 0
  while A > 1:
    A = A//B
    count += 1
  return count

In [ ]:
func(1,2)

0

In [ ]:
1//2

0

In [ ]:
2**4

16

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    
    return 0

if __name__ == '__main__':
    main()

In [ ]:
A = []
N = int(input())


for i in range(1,N):
    res = min(res, A[i])
    
    print(res)

for i in range(1,N):
    res = max(res,A[i])
    
    print(res)

5

NameError: ignored

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    T = int(input())
    while T > 0:
        N = int(input())
    
        tot = 0
        while N > 0:
            dig = N% 10
            tot = tot + dig
            N = N//10
        print(tot)
    return 0

if __name__ == '__main__':
    main()

In [ ]:
T = int(input())
    
for i in range (1,T+1):
  upper = 0
  A = input()
  count = 0
  for i in A:
    if ord(i) >= 65 and ord(i) <= 90:
      count += 1
  print(count)

1
My name is Deepak
2